/* DEMO.CSS */
body {
	background: url("../img/bg_body.jpg") repeat scroll center center
		transparent;
}

.navbar-top {
	padding-top: 5px;
}
/*仿bootstrap*/
.control-group1 {
	margin-left:180px;
    margin-bottom: 20px;
}
.brand {
	height: 40px;
	background: url("../img/iteach-logo-small.png") left bottom no-repeat;
	padding: 10px 0 0 15px;
}

.brandname {
	line-height: 50px;
	padding: 20px 0 0 111px;
	font-size: 24px;
	font-family: \5FAE\8F6F\96C5\9ED1;
}

.coursename {
	padding: 0 10px 0 20px;
	font-size: 24px;
}

.pic {
	margin-top: 60px;
	box-shadow: 0 20px 80px #888888 inset;
}

.main { /* background-color: #F9F9F9; */
	
}

.main1 {
	margin-top: 65px;
}

.all-Img {
	width: 225px;
	height: 123px;
}

.all-Img1 {
	width: 224px;
	height: 108px;
}

.course_learning {
	padding: 0 0 10px 5px;
}

#footer {
	background-color: #FFFFFF;
	box-shadow: 0 2px 60px #BBBBBB inset;
	color: #888888;
	font-size: 8px;
	margin-top: 0.5em;
	padding-bottom: 25px;
	padding-top: 0.15em;
}

.footer {
	font-size: 1.5em;
	margin-top: 1.5em;
}

.wordstyle {
	font-size: 18px;
	font-family : 宋体;
}
/*导航工具，快速到达顶部*/
.toTop {
	position: fixed;
	bottom: 0px;
	right: 0px;
	border: solid 0px #ccc;
	cursor: pointer;
	font-family: 微软雅黑;
}

/*内容居右*/
.sendToRigth{
	font-size:samller;
	text-align:rigth;
}
/*测试考试右边导航样式*/
#div_processor {
	position: fixed;
	left: 75%;
	top: 80px;
	width: 200px;
	height: auto;
	background: #fff;
	border: solid 1px #ddd;
	padding: 5px;
	text-align: center;
	height: auto;
}

#div_processor a {
	display: block;
	float: left;
	padding: 3px;
	border: solid 1px #ddd;
	background: #fff;
	width: 14px;
	height: 14px;
	margin-right: 2px;
	margin-bottom: 2px;
	text-decoration: none;
}

#div_processor a:hover {
	background: #fa0
}

#div_processor a.finished {
	background: #ADD8E6;
}

#div_processor div {
	margin: 0 0 10px 0;
	float: left;
	width: 100%;
	height: auto;
}

.fillBlank {
  width: 460px;
}

.box {
	min-height: 10px;
	padding: 3px;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/**
	对中间内容布局
	@author EasonLian
*/
.block-background { /* background-color:#FCFCFC; */
	height: auto;
	/* border: 1px solid #E5E5E5; */
	margin-bottom: 14px;
	padding: 5px;
}

/*首页课程显示*/
.block-background1 {
	height: 310px;
	/* border: 1px solid #E5E5E5; */
	margin-bottom: 10px;
	padding: 2px;
}

.block-background2 { /* background-color:#FCFCFC; */
	height: 500px;
	/* 	border: 1px solid #E5E5E5; */
	margin-bottom: 14px;
	padding: 3px;
}

.block-background3 {
	height: 550px;
	border: 1px solid #E5E5E5;
	margin-bottom: 14px;
	padding: 3px;
}

.courseBlockDiv-font,.courseBlockDiv-img { /*width:209px;*/
	width: 218px;
	height: 171px;
	border: 1px solid #E5E5E5;
	color: #BBBEC7;
	float: left;
	margin: 11px;
	background-color: #FFFFFF;
	cursor: pointer;
}

/*课程封面列表   mryang*/
.coursetile {
	position: relative;
	margin-top: -25px;
	background: #333;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	line-height: 21px;
	padding: 2px 8px;
	z-index: 1;
	text-align: center;
	font-size:small;
}

.addborder{
	border: 1px solid #red;
}
.coursetile-hover {
	position: relative;
	margin-top: -35px;
	background: #fff;
	color: red;
	line-height: 21px;
	padding: 2px 8px;
	z-index: 1;
}

.courseshow {
	opacity: 0;
	filter: alpha(opacity =                                0);
	-webkit-transition: opacity 0.3s ease-in 0s;
	-moz-transition: opacity 0.3s ease-in 0s;
	-ms-transition: opacity 0.3s ease-in 0s;
	-o-transition: opacity 0.3s ease-in 0s;
	transition: opacity 0.3s ease-in 0s;
	position: absolute;
	background: #333;
	background: rgba(0, 0, 0, 0.4);
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 200;
}

.courseshow span {
	opacity: 0;
	filter: alpha(opacity =                               0);
	background: black;
	border-radius: 10px 10px 10px 10px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	left: 50%;
	margin: -15px 0 0 -35px;
	padding: 5px 10px;
	top: 50%;
	position: absolute;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;
}

/*首页课程显示*/
.courseBlockDiv-font1,.courseBlockDiv-img1 { /*width:209px;*/
	width: 210px;
	height: 146px;
	border: 1px solid #E5E5E5;
	color: #BBBEC7;
	float: left;
	margin: 9px;
	background-color: #FFFFFF;
	cursor: pointer;
}

.courseBlockDiv-font-hover {
	color: #878787;
}

.courseBlockDiv-img-hover {
	color: #2BA05B;
}

.blockDiv-innerDiv1 {
	font-size: 120px;
	position: relative;
	/*margin:68px 0px 0px 72px;*/
	margin: 68px 0px 0px 73px;
}

.blockDiv-innerDiv2 {
	font-weight: 900;
	font-size: 16px;
	/*margin:68px 0px 0px 72px;*/
	margin: 57px 0px 0px 73px;
}

.blockDiv-innerDiv3 {
	padding: 1px;
	/*width:207px;*/
	width: 218px;
	height: 127px;
	z-index: 5;
}
/*首页课程显示*/
.blockDiv-innerDiv31 {
	padding: 1px;
	width: 209px;
	height: 116px;
	z-index: 3;
}

.blockDiv-innerDiv4 {
	position: relative;
	color: #333333;
	font-weight: bold;
	margin: 4px 0px 0px 77px;
	font-size: 14px;
}
/*首页课程显示*/
.blockDiv-innerDiv41 {
	position: relative;
	color: #333333;
	font-weight: bold;
	margin: 4px 0px 0px 76px;
	font-size: 12px;
}

/* 定义透明度 */
.transparent_class {
	filter: alpha(opacity =                                 50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.front-div { /*width:209px;*/
	width: 218px;
	height: 189px;
	position: absolute;
	text-align: center;
	display: none;
}
/*首页课程显示*/
.front-div1 { /*width:209px;*/
	width: 197px;
	height: 105px;
	position: absolute;
	text-align: center;
	display: none;
}

.transparent-background {
	background-color: #000000;
	/*width:209px;*/
	width: 218px;
	height: 124px;
}

/*首页课程显示*/
.transparent-background1 {
	background-color: #000000;
	/*width:209px;*/
	width: 209px;
	height: 109px;
}

.front-div-label {
	position: absolute;
	font-size: 16px;
	/* margin: -69px 0 0 81px; */
	margin: -65px 0 0 -30px;
	padding: 6px 7px 6px 7px;
}
/*首页课程显示*/
.front-div-label1 { /*阴影内部文字显示*/
	position: absolute;
	font-size: 14px;
	margin: -57px 0 0 -39px;
	padding: 6px 7px 6px 7px;
}

.img- { /*width:207px;*/
	width: 219px;
	height: 30px;
	position: absolute;
}

.transparent-img-background { /*width:207px;*/
	width: 219px;
	height: 27px;
	background-color: #000000;
	margin-top: -27px;
}
/*首页课程显示*/
.transparent-img-background1 { /*width:207px;*/
	width: 209px;
	height: 25px;
	background-color: #000000;
	margin-top: -25px;
}

.img-front-div-label {
	position: absolute;
	font-size: 14px;
	margin-top: -24px;
	margin-left: 10px;
	color: #FFFFFF;
}
/*首页课程显示*/
.img-front-div-label1 {
	position: absolute;
	font-size: 12px;
	margin-top: -22px;
	margin-left: 8px;
	color: #FFFFFF;
}

.testTime {
	background-color: #CCCCCC;
}

/*视频文档上传屏蔽背景*/
/* .allRES{
	height: 2000px;
	width: 2000px;
	overflow-x:hidden;
	overflow-y:scroll;
	background-color: rgb(51,51,51);  
	opacity: 0;
    transition:opacity 0.15s linear 0s;
		
} */

/*回到頂部*/
#scrollUp {
	background: url("../img/top.png") no-repeat scroll 0 0 transparent;
	bottom: 20px;
	height: 38px;
	right: 20px;
	width: 38px;
}

/*透明效果*/
.divCrystal {
	opacity: 0.05;
	z-index: 100;
}
/*栏目样式*/
.column {
	line-height: 20px;
	font-size: 14px;
}

.column a:hover {
	color: #04B431;
}

.statistic>span:hover {
	background-color: #54B959;
}
/**/
.courseImg {
	height: 248px;
	width: 448px;
}

.addinfo-waring {
	color: red;
	font-size: 20px;
}

.addinfo-info {
	color: green;
	font-size: 20px;
}

.buttonGroup {
	margin-bottom: 10px;
}

.persize {
	width: 50px;
}

.userInfo {
	color: #848484;
	text-align: center;
	background-color: #fff;
	padding-top: 5px;
}

.errorarea {
	height: 520px;
	font-size: 14px;
	text-align: center;
	background: url("../img/authority_bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	padding-top: 5px;
	font-family: cursive;
	font-size: 25px;
	font-weight: bold;
	color: #848484;
	cursor: pointer;
	text-shadow: 0px 8px 3px rgba(100, 100, 100, 0.4), 0px 9px 5px
		rgba(100, 100, 100, 0.1), 0px 10px 7px rgba(100, 100, 100, 0.15), 0px
		11px 9px rgba(100, 100, 100, 0.2), 0px 12px 11px
		rgba(100, 100, 100, 0.25), 0px 13px 15px rgba(100, 100, 100, 0.3);
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
}

.errorarea :hover {
	text-shadow: 0px 5px 1px #fff, 0px 6px 1px #fff, 0px 7px 1px #777, 0px
		8px 3px #fff, 0px 9px 5px #fff, 0px 10px 7px #fff, 0px 11px 9px #fff,
		0px 12px 11px #fff, 0px 13px 15px #fff;
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
}

#subCols>li.active {
	font-weight: bold;
	margin-top: 0;
	position: relative;
}

#myExamInfo a {
	display: block;
	float: left;
	padding: 8px;
	border: solid 2px #ddd;
	background: #fff;
	width: 14px;
	height: 14px;
	text-decoration: none;
}

#myExamInfo :hover {
	background: #00CCCC;
}

#examList {
	left: 96%;
	position: fixed;
	margin-top: 200px;
	float: left;
	background: #0000;
	border: 1px solid #333;
	padding: 12px;
	width: 28px;
	float: right;
}

#box {
	display: none;
	left: 87%;
	margin-top: 200px;
	position: fixed;
	float: left;
	width: 170px;
	height: auto;
	background: #fff;
	border: 1px solid #333;
	padding: 12px;
	text-align: center;
}

#myExamInfo a.finished {
	background: #ADD8E6;
}
.pop{
	width: 100%;
	height: 100%;
}

.payatt{
	text-align: left;
}
.appImg{
	width:95px;
	 height:95px;
	 
}
.appIcon{
	 width:49px;
	 height:49px;
}
