<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">
	<!-- 开启注解配置 -->
	<context:annotation-config />
	
	<!-- 定时任务执行 -->
	<task:annotation-driven scheduler="qbScheduler" mode="proxy"/>  
    <task:scheduler id="qbScheduler" pool-size="10"/>
    
	<!-- Handler输入和输出的处理器 -->
	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<!-- 处理返回值为Json格式的数据 -->
		<property name="customReturnValueHandlers">
			<list>
				<bean
					class="com.swust.kelab.web.adapter.JsonAndViewMethodReturnValueHandler" />
			</list>
		</property>
		<property name="customArgumentResolvers">
			<list>
				<bean
					class="com.swust.kelab.web.adapter.CommonQueryMethodArgumentResolver" />
				<bean 
				    class="com.swust.kelab.web.adapter.MassedLearningModelResolver"/>
			</list>
		</property>
		<property name="messageConverters">
			<list>
				<!-- 把ByteArray加在Json前面 -->
				<bean
					class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
				<bean id="jsonHttpMessageConverter"
					class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/plain;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!-- 异常处理器 -->
	<bean id="jsonExceptionResolver" class="com.swust.kelab.web.json.JsonExceptionResolver"> 
		<property name="order" value="0" />
	</bean>
	<!-- 配置view视图处理器 -->
	<bean id="beanNameViewResolver"
		class="org.springframework.web.servlet.view.BeanNameViewResolver">
		<property name="order" value="0" />
	</bean>
	<bean id="jsonView" class="com.swust.kelab.web.json.JsonpView">
		<property name="encoding">
			<value type="org.codehaus.jackson.JsonEncoding">UTF8</value>
		</property>
		<property name="contentType" value="application/json;charset=UTF-8" />
		<property name="extractValueFromSingleKeyModel" value="true" />
		<!-- 配置Json解析时，去除为 null 的字段 by EasonLian -->
		<property name="objectMapper">
			<bean class="org.codehaus.jackson.map.ObjectMapper">
				<property name="serializationInclusion">
					<value type="org.codehaus.jackson.map.annotate.JsonSerialize$Inclusion">
						NON_NULL
					</value>
				</property>
			</bean>
		</property>
	</bean>
	
	<bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:/*.properties</value>
            </list>
        </property>
    </bean>
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="properties" ref="configProperties" />
    </bean>
</beans>