
	
	.nav>li.active12{
	border-left:0px solid #19aa8d;
	background:#FFF;
	}
	
	.nav>li.active12>a{
	color:#FFF;
	}
	
	.nav-pills>li>a{
	border-radius:10px;
	
	}
	
	.nav-pills>li.active12>a{
	background-color:#337ab7;
	}