<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="courseSelectInfo">

	<!-- 添加选课系信息 luohui -->
	<insert id="addAllCourseSelectInfo" parameterType="java.util.List">
		INSERT INTO
		CourseSelectInformation(
		csin_cour_id,csin_depa_id,
		csin_year,csin_pubtime,
		csin_opentime,csin_closetime,
		csin_remark,csin_on
		)
		VALUES
		<foreach collection="list" item="courseSeleInfo" index="index"
			separator=",">
			(#{courseSeleInfo.csinCourId,jdbcType=INTEGER},
			#{courseSeleInfo.csinDepaId,jdbcType=INTEGER},
			#{courseSeleInfo.csinYear,jdbcType=INTEGER},
			#{courseSeleInfo.csinPubtime, jdbcType=TIMESTAMP},
			#{courseSeleInfo.csinOpentime, jdbcType=TIMESTAMP},
			#{courseSeleInfo.csinClosetime, jdbcType=TIMESTAMP},
			#{courseSeleInfo.csinRemark,jdbcType=LONGVARCHAR},
			#{courseSeleInfo.csinOn,jdbcType=BIT})
		</foreach>
	</insert>


	<!-- 修改选课信息 luohui -->
	<update id="updateCourseSelectInfoTime" parameterType="hashmap">
		UPDATE
		CourseSelectInformation
		<set>
			csin_opentime = #{csinOpentime, jdbcType=TIMESTAMP},
			csin_closetime = #{csinClosetime, jdbcType=TIMESTAMP},
			<if test="csinRemark != null and csinRemark != ''">
				csin_remark = #{csinRemark,jdbcType=LONGVARCHAR},
			</if>
			<if test="csinOn != null">
				csin_on = #{csinOn,jdbcType=BIT}
			</if>
		</set>
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="csinIds != null and csinIds.length > 0">
				csin_id in
				<foreach collection="csinIds" index="index" item="csinId"
					open="(" separator="," close=")">
					#{csinId, jdbcType=INTEGER}
				</foreach>
			</if>
		</trim>
	</update>

	<!-- 根据课程id以及部门id,删除选课信息中的课程的开放时间以及关闭时间 -->
	<delete id="deleteTimeOfCourseSelect" parameterType="hashmap">
		DELETE FROM
		CourseSelectInformation
		<where>
			<if test="csinIds != null and csinIds.length > 0">
				csin_id in
				<foreach collection="csinIds" index="index" item="csinId"
					open="(" separator="," close=")">
					#{csinId, jdbcType=INTEGER}
				</foreach>
			</if>
		</where>

	</delete>
	
	
	<!-- 根据课程id,删除选课信息 -->
	<delete id="deleteByCourId" parameterType="list">
		DELETE FROM
		CourseSelectInformation
		<where>
			<if test="list!=null and list.size()>0">
				csin_cour_id in
				<foreach collection="list" item="courId" index="index" open="("
					close=")" separator=",">
					#{courId}
				</foreach>
			</if>
		</where>
	</delete>

	<!-- 根据课程id或者部门id查询课程的开放与关闭时间 -->
	<select id="selectCourseSelectInfoById" parameterType="com.swust.kelab.domain.CourseSelectInformation"
		resultType="com.swust.kelab.model.CourseSelectInfoModel">
		SELECT
		SC.csin_id as id,
		SC.csin_cour_id as courseId,
		SC.csin_opentime as
		openTime,
		SC.csin_closetime as closeTime,
		SC.csin_on as courseOn,
		SC.csin_year as
		courseYear,
		SC.csin_depa_id as departId,
		C.cour_code as
		courseCode,
		C.cour_name as courseName,
		D.depa_name as departName

		FROM
		CourseSelectInformation as SC
		LEFT JOIN Course as C ON C.cour_id =
		SC.csin_cour_id
		LEFT JOIN Department as D ON D.depa_id =
		SC.csin_depa_id
		<where>
			C.cour_state = 1
			<if test="csinCourId != null and csinCourId > 0">AND csin_cour_id = #{csinCourId, jdbcType=INTEGER}</if>
			<if test="csinDepaId != null and csinDepaId > 0"> AND csin_depa_id = #{csinDepaId, jdbcType=INTEGER}</if>
		</where>
	</select>

	<!-- 查询课程选课信息总数 @auther ZhangXin -->
	<select id="selectCourseCount" parameterType="hashmap"
		resultType="int">
		<![CDATA[
			SELECT 
				COUNT(*)
			FROM CourseSelectInformation SC
				LEFT JOIN Course as C ON C.cour_id =
				SC.csin_cour_id
				LEFT JOIN Department as D ON D.depa_id =
				SC.csin_depa_id
	]]>
		<where>
			 C.cour_state = 1
			<if test="searchWord !=null">
				and C.cour_name like CONCAT('%','${searchWord}','%' )
			</if>
			<if test="startTime != null and startTime != ''">
				<![CDATA[
				and SC.csin_closetime>=#{startTime}
				]]>
			</if>
			<if test="endTime != null and endTime != ''">
				<![CDATA[
				and SC.csin_opentime<=#{endTime}
				]]>
			</if>
			<if test="school != null and school != ''">
				and SC.csin_depa_id =#{school}
			</if>
		</where>
	</select>
	<!-- 查询所有的课程开课时间信息 -->
	<select id="selectAllCourseSelectInfoByQuery" parameterType="hashmap"
		resultType="com.swust.kelab.model.CourseSelectInfoModel">
	<![CDATA[
			SELECT 
				SC.csin_id as id,
				SC.csin_cour_id as courseId,
				SC.csin_opentime as openTime,
				SC.csin_closetime as closeTime,
				SC.csin_on as courseOn,
				SC.csin_year as courseYear,
				SC.csin_depa_id as departId,
				C.cour_code as courseCode,
				C.cour_name as courseName,
				C.cour_openToAll as courseOpenToAll,
				D.depa_name as departName
			FROM CourseSelectInformation SC
				LEFT JOIN Course as C ON C.cour_id =
				SC.csin_cour_id
				LEFT JOIN Department as D ON D.depa_id =
				SC.csin_depa_id
	]]>
		<where>
		     C.cour_state = 1
			<if test="searchWord !=null">
				and C.cour_name like CONCAT('%','${searchWord}','%' )
			</if>
			<if test="startTime != null and startTime != ''">
				<![CDATA[
				and SC.csin_closetime>=#{startTime}
				]]>
			</if>
			<if test="endTime != null and endTime != ''">
				<![CDATA[
				and SC.csin_opentime<=#{endTime}
				]]>
			</if>
			<if test="school != null and school != ''">
				and SC.csin_depa_id =#{school}
			</if>
		</where>
		order by SC.csin_closetime DESC, SC.csin_opentime DESC
		<if test="maxCount!=null">
			limit
			<if test="startIndex!=null">
				#{startIndex},
			</if>
			#{maxCount}
		</if>
	</select>
	<!-- 审核一门课程后向选课表中插入一条记录 -->
	<insert id="insertOneBycheck" parameterType="map">
		INSERT INTO
			CourseSelectInformation
				(csin_cour_id,csin_depa_id,csin_on) 
			VALUES(#{courseId},#{depaId},#{on})
	</insert>
	
	<!-- 查询当前时间当前学校的当前课程是否处于选课时间范围之内 -->
	<select id="findCourseSelecIdBytime" parameterType="hashmap" resultType="Integer">
		SELECT csin_id 
		FROM CourseSelectInformation
		<trim prefix="WHERE" prefixOverrides="AND">
			
			<if test="courseId != null and courseId > 0 ">
				csin_cour_id = #{courseId}
			</if>
<!-- 			<if test="departId != null and departId > 0"> -->
<!-- 				AND csin_depa_id = #{departId} -->
<!-- 			</if>		 -->
			<if test="courrentDate != null">
				<if test="csin_opentime != null">
					<![CDATA[
						AND #{courrentDate} >=  csin_opentime 
					]]>
				</if>
				<if test="csin_closetime != null">
					<![CDATA[
						and #{courrentDate} <= csin_closetime 
					]]>
				</if>
			</if>
		</trim>
	</select>
	
</mapper>