<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="grade">
	<!-- 年级信息 -->
	<resultMap type="com.swust.kelab.domain.Grade" id="gradeMap">
		<id column="grad_id" property="gradId" jdbcType="INTEGER" />
		<result column="grad_depa_id" property="gradDepaId" jdbcType="INTEGER" />
		<result column="grad_name" property="gradName" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 班级信息 -->
	<resultMap type="com.swust.kelab.domain.Clas" id="classesMap">
		<id column="clas_id" property="clasId" jdbcType="INTEGER" />
		<result column="clas_grad_id" property="clasGradId" jdbcType="INTEGER" />
		<result column="clas_name" property="clasName" jdbcType="VARCHAR" />
		<result column="clas_remark" property="clasRemark" />
	</resultMap>
	
	<!-- 年级和班级信息 -->
	<resultMap type="GradeClassModel" id="gradeClassMap">
		<id column="grad_id" property="gradId" jdbcType="INTEGER" />
		<result column="grad_name" property="gradName" jdbcType="VARCHAR" />
		<collection property="classes" javaType="java.util.List" resultMap="classMap">
		</collection>
	</resultMap>
	
	<!-- 班级基本信息,供筛选使用 -->
	<resultMap type="ClassModel" id="classMap">
		<id column="clas_id" property="clasId" jdbcType="INTEGER" />
		<result column="clas_name" property="clasName" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 根据学校id查询所有的年级 -->
	<select id="queryGrades" parameterType="int" resultMap="gradeMap">
		<![CDATA[
			SELECT * FROM Grade WHERE grad_depa_id = #{depa_id}
		]]>
	</select>

	<!-- 根据年级id查询所有的班级 -->
	<select id="queryClasses" parameterType="int" resultMap="classesMap">
		<![CDATA[
			SELECT * FROM Class WHERE clas_grad_id = #{grade_id}
		]]>
	</select>

	<!-- 根据年级名称以及学校id查询年级id ****author lujoCom**** -->
	<select id="findGradeByGraNamAndSchId" parameterType="com.swust.kelab.domain.Grade"
		resultType="Integer">
		<![CDATA[
			SELECT 
				grad_id 
			FROM Grade  WHERE 
				grad_depa_id = #{gradDepaId} AND grad_name = #{gradName}
		]]>
	</select>

	<!-- 添加年级,成功后返回id ****author lujoCom**** -->
	<insert id="insertGrade" parameterType="com.swust.kelab.domain.Grade"
		keyProperty="gradId">
		<![CDATA[
			INSERT INTO 
				Grade(grad_depa_id, grad_name) 
			VALUES (
				#{gradDepaId, jdbcType=INTEGER}, 
				#{gradName, jdbcType=VARCHAR}
			)
		]]>
	</insert>

	<!-- 根据班级名称以及年级id查询班级id ****author lujoCom**** -->
	<select id="findClassIdByClaNaAndGraId" parameterType="com.swust.kelab.domain.Clas"
		resultType="Integer">
		<![CDATA[
			SELECT 
				clas_id 
			FROM Class WHERE 
				clas_grad_id = #{clasGradId} and clas_name = #{clasName}
		]]>
	</select>

	<!-- 添加班级，成功后返回班级id ****author lujoCom**** -->
	<insert id="insertClass" parameterType="com.swust.kelab.domain.Clas"
		keyProperty="clasId">
		<![CDATA[
			INSERT INTO 
				Class(clas_grad_id, clas_name)
			VALUES(
				#{clasGradId, jdbcType=INTEGER},
				#{clasName, jdbcType=VARCHAR}
			)
		]]>
	</insert>
	
	<!-- 根据部门id,查询相应的年级,并级联查询所有年级对应的班级,用做筛选 -->
	<select id="viewGradeClass" parameterType="int" 
			resultMap="gradeClassMap">
		select 
			grad_id,
			grad_name,
			clas_id,
			clas_name
		from
			Grade
			left join Class on clas_grad_id=grad_id 
		<where>
			<if test="_parameter!=null and _parameter>0">
				grad_depa_id=#{_parameter}
			</if>
		</where>
	</select>
	
	<!-- 查询学校年级班级详细信息 author-罗晖 -->
	<select id="findSchoolAndGraCla" parameterType="hashmap" resultType="com.swust.kelab.model.ClasModel">
		SELECT distinct
			(D.depa_id) as schoolId,
			D.depa_name as schoolName,
			D.depa_code as schoolCode,
			D.depa_type, 
			G.grad_id as gradeId,
			G.grad_name as gradeName,
			C.clas_id as clasId,
			C.clas_name as clasName
		FROM
			Department as D
		LEFT JOIN Grade as G on G.grad_depa_id =  D.depa_id
		LEFT JOIN Class as C on C.clas_grad_id = G.grad_id
		<where>
			<if test="userType == 1">
				D.depa_type = 3
			</if>
			<if test="departType == 3">
				and D.depa_id = #{departId}
			</if>
		</where>
		GROUP BY D.depa_type,depa_id,grad_id,clas_id
	</select>
	
	<!-- 根据部门id、年级id或者班级id，获取班级（年级）信息 -->
	<select id="queryClassGrade" parameterType="map" 
			resultType="ClasModel">
		select 
			grad_id as gradeId,
			grad_name as gradeName,
			clas_id as clasId,
			clas_name as clasName
		from
			Class
			left join Grade on clas_grad_id=grad_id 
		<where>
			<if test="depaId!=null and depaId>0">
				grad_depa_id=#{depaId}
			</if>
			<if test="gradeId!=null and gradeId>0">
				grad_id=#{gradeId}
			</if>
			<if test="classId!=null and classId>0">
				clas_id=#{classId}
			</if>
		</where>
	</select>
	
	<!-- 通过年级id获取对应的班级,未指定id则获取全部班级 -->
	<select id="queryClassByGradeId" parameterType="int" 
			resultType="ClassModel">
		select
			clas_id as clasId,
			clas_name as clasName
		from 
			Class
		<where>
			<if test="_parameter!=null and _parameter>0">
				clas_grad_id=#{_parameter}
			</if>
		</where>
	</select>
	
	<select id="findGradeById" parameterType="int" resultType="Grade">
		select 
			grad_id as gradId,
			grad_name as gradName,
			grad_depa_id as gradDepaId
		from 
			Grade
		where
			grad_id=#{_parameter}
	</select>
</mapper>        

