<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="log">
	
	<!-- 记录日志 author 罗晖 -->
	<insert id="saveOptionLog" parameterType="com.swust.kelab.domain.Log"
		keyProperty="logId">
		INSERT INTO
			log(log_user_id,log_opt,log_time,log_ip,log_client,log_type)
		VALUES(
			#{logUserId,jdbcType=INTEGER}, #{logOpt,jdbcType=VARCHAR},
			#{logTime,jdbcType=TIMESTAMP},#{logIp,jdbcType=VARCHAR},
			#{logClient,jdbcType=VARCHAR},#{logType,jdbcType=INTEGER}
		)
	</insert>
	<!-- 查询日志记录列表，导出日志查询pery -->
	<select id="queryLogsByExport" parameterType="map" resultType="com.swust.kelab.model.LogModel">
	Select 
	l.log_id as id,
	u.user_loginname as userName,
	l.log_opt as logOpt,
	l.log_time as logTime,
	l.log_ip as logIp,
	l.log_client as logClient,
	l.log_type as logType
	FROM 
	log l,User u
	<where>
			l.log_user_id=u.user_id
		<if test="searchWord!=null and searchWord!=''" >
		 AND (
			 	u.user_loginname LIKE '%${searchWord}%'
			 	OR l.log_opt LIKE '%${searchWord}%'
			 )
		</if>
		<if test="startTime!=null">
			<![CDATA[and l.log_time >= #{startTime}]]>
		</if>
		<if test="endTime!=null">
			<![CDATA[and l.log_time <= #{endTime}]]>
		</if>
		LIMIT #{maxCount}
	</where>
	</select>
	
		<!-- 查询日志记录总记录数pery -->
	<select id="queryLogsCount" parameterType="map" resultType="int">
	Select 
		count(*)
	FROM 
	log l,User u
	<where>
			l.log_user_id=u.user_id
		<if test="searchWord!=null and searchWord!=''" >
			 AND (
			 	u.user_loginname LIKE '%${searchWord}%'
			 	OR l.log_opt LIKE '%${searchWord}%'
			 )
		</if>
		<if test="startTime!=null">
			<![CDATA[and l.log_time >= #{startTime}]]>
		</if>
		<if test="endTime!=null">
			<![CDATA[and l.log_time <= #{endTime}]]>
		</if>
	</where>
	</select>
	
		<!-- 查询日志记录列表 前台显示分页查询pery -->
	<select id="queryLogs" parameterType="map" resultType="com.swust.kelab.model.LogModel">
	Select 
	l.log_id as id,
	u.user_loginname as userName,
	l.log_opt as logOpt,
	l.log_time as logTime,
	l.log_ip as logIp,
	l.log_client as logClient,
	l.log_type as logType
	FROM 
	log l,User u
	<where>
			l.log_user_id=u.user_id
		<if test="searchWord!=null and searchWord!=''" >
			 AND (
			 	u.user_loginname LIKE '%${searchWord}%'
			 	OR l.log_opt LIKE '%${searchWord}%'
			 )
		</if>
		<if test="startTime!=null">
			<![CDATA[and l.log_time >= #{startTime}]]>
		</if>
		<if test="endTime!=null">
			<![CDATA[and l.log_time <= #{endTime}]]>
		</if>
	</where>
	order by l.log_time DESC
		<if test="maxCount!=null">
			LIMIT
			<if test="startIndex!=null">
				#{startIndex},
			</if>
			    #{maxCount}
		</if>
	</select>
	<!-- 按条件删除日志 -->
	<delete id="deleteLogs" parameterType="map" >
		DELETE l.*
			FROM 
			log l,User u
	<where>
			l.log_user_id=u.user_id
		<if test="searchWord!=null and searchWord!=''" >
			 AND (
			 	u.user_loginname LIKE '%${searchWord}%'
			 	OR l.log_opt LIKE '%${searchWord}%'
			 )
		</if>
		<if test="startTime!=null">
			<![CDATA[and l.log_time >= #{startTime}]]>
		</if>
		<if test="endTime!=null">
			<![CDATA[and l.log_time <= #{endTime}]]>
		</if>
	</where>
	</delete>
</mapper>