<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="paper">
	<!-- 试卷管理mapper -->
	<!-- 查询考试数据的map by yangzq -->
	<resultMap id="papersDetailMap" type="com.swust.kelab.model.ExamPaperModel">
		<id property="expaId" column="expa_id" />
		<result property="expaCourId" column="expa_cour_id" />
		<result property="courName" column="cour_name" />
		<result property="expaOrdinal" column="expa_ordinal" />
		<result property="expaDifficulty" column="expa_difficulty" />
		<result property="expaTotalscore" column="expa_totalscore" />
		<result property="expaName" column="expa_name" />
		<result property="expaCreatetime" column="expa_createtime" />
		<result property="expaCreateUserid" column="expa_create_userid" />
		<result property="expaType" column="expa_type" />
		<result property="expaGppaId" column="expa_gppa_id" />
		<result property="expaDescribe" column="expa_describe" />
	</resultMap>

	<resultMap id="quesOptionsMap" type="com.swust.kelab.domain.Option">
		<id property="optiId" column="opti_id" />
		<result property="optiQuesId" column="opti_ques_id" />
		<result property="optiDescribe" column="opti_describe" />
		<result property="optiOrdinal" column="opti_ordinal" />
		<result property="optiAttachment" column="opti_attachment" />
	</resultMap>

	<!-- 查询试卷数 by yangzq -->
	<select id="selectPapersCount" parameterType="java.util.HashMap"
		resultType="java.lang.Integer">
		<![CDATA[
		SELECT 
			COUNT(ep.expa_id) 
		FROM ExamPaper ep 
		LEFT OUTER JOIN  Course cs ON ep.expa_cour_id = cs.cour_id
		LEFT OUTER JOIN User us ON us.user_id = ep.expa_create_userid
		]]>
		<trim prefix="where" prefixOverrides="and|or">
			<if test="departId != null and departId > 0">
				us.user_depa_id = #{departId}
			</if>
			<if test="teacherId != null and teacherId != ''">
				and cs.cour_teacher_ids like
				CONCAT('%','${teacherId}','%')
			</if>
			<if test="paperId>0">
				and ep.expa_id=#{paperId}
			</if>
			<if test="courseId > 0">
				and cs.cour_id=#{courseId}
			</if>
			<if test="startTime != null and startTime != ''">
				and ep.expa_createtime>=#{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and <![CDATA[ep.expa_createtime<=#{endTime}]]>
			</if>
			<if test="searchType!=0 and searchWord!=null">
				<choose>
					<when test="searchType==1">
						and ep.expa_name like
						CONCAT('%','${searchWord}','%' )
					</when>
					<when test="searchType==2">
						and cs.cour_name like
						CONCAT('%','${searchWord}','%' )
					</when>
					<when test="searchType==3">
						and ep.expa_create_userid like
						CONCAT('%','${searchWord}','%' )
					</when>
				</choose>
			</if>
		</trim>
	</select>


	<!-- 查询试卷详细信息 by yangzq -->
	<select id="selectPapersDetail" parameterType="java.util.HashMap"
		resultMap="papersDetailMap">
	 <![CDATA[	
		SELECT 
			ep.expa_id,
			cs.cour_name,
			ep.expa_cour_id,
			ep.expa_ordinal,
			ep.expa_difficulty,
			ep.expa_totalscore,
			ep.expa_name,
			ep.expa_describe,
			ep.expa_createtime,
			ep.expa_create_userid,
			ep.expa_type,
			ep.expa_gppa_id
		FROM ExamPaper ep
			LEFT OUTER JOIN  Course cs ON ep.expa_cour_id = cs.cour_id
			LEFT OUTER JOIN User us ON us.user_id = ep.expa_create_userid
		]]>
		<trim prefix="where" prefixOverrides="and|or">
			<if test="departId != null and departId > 0">
				us.user_depa_id = #{departId}
			</if>
			<if test="teacherId != null and teacherId != ''">
				and cs.cour_teacher_ids like
				CONCAT('%','${teacherId}','%')
			</if>
			<if test="paperId>0">
				and ep.expa_id=#{paperId}
			</if>
			<if test="courseId > 0">
				and cs.cour_id=#{courseId}
			</if>
			<if test="startTime != null and startTime != ''">
				and ep.expa_createtime>=#{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and <![CDATA[ep.expa_createtime<=#{endTime}]]>
			</if>
			<if test="searchType!=0 and searchWord!=null">
				<choose>
					<when test="searchType==1">
						and ep.expa_name like
						CONCAT('%','${searchWord}','%' )
					</when>
					<when test="searchType==2">
						and cs.cour_name like
						CONCAT('%','${searchWord}','%' )
					</when>
					<when test="searchType==3">
						and ep.expa_create_userid like
						CONCAT('%','${searchWord}','%' )
					</when>
				</choose>
			</if>
		</trim>
		ORDER BY ep.expa_createtime desc
		<if test="maxCount!=null">
			limit
			<if test="startIndex!=null">
				#{startIndex},
			</if>
			#{maxCount}
		</if>
	</select>

	<!-- 根据试卷名称查询是否有记录 用于检验试卷存在冲突与否 by yangzq -->
	<select id="selectPaperCountByName" parameterType="String"
		resultType="java.lang.Integer">
	<![CDATA[	
		SELECT 
			COUNT(ep.expa_id) 
		FROM ExamPaper ep 
		WHERE
			ep.expa_name = #{name}
	]]>
	</select>

	<!-- 根据类型计算题目数量 by yangzq -->
	<select id="countQuesNums" parameterType="java.util.HashMap"
		resultType="java.lang.Integer">
		<![CDATA[
			SELECT 
				COUNT(eq.exqu_id) 
			FROM ExamQuestion eq 
		]]>
		<trim prefix="where" prefixOverrides="and|or">
			<if test="examCourId!=null and examCourId>0">
				eq.exqu_cour_id = #{examCourId}
			</if>
			<if test="userId!=null and userId>0">
				and eq.exqu_create_userid = #{userId}
			</if>
			<if test="questiontype!=null and questiontype>0">
				and <![CDATA[eq.exqu_type = #{questiontype}]]>
			</if>
			<if test="difficulty!=null">
				and eq.exqu_difficulty = #{difficulty}
			</if>
		</trim>
	</select>

	<!-- 随机组卷，根据条件查询试题编号，用于自动组卷存放autoPaper表 by yangzq -->
	<select id="selectGroupQues" parameterType="java.util.HashMap"
		resultType="java.lang.Integer">
		<![CDATA[
			SELECT 
				eq.exqu_id
			FROM ExamQuestion eq 
		]]>
		<trim prefix="where" prefixOverrides="and|or">
			<if test="examCourId!=null and examCourId>0">
				eq.exqu_cour_id = #{examCourId}
			</if>
			<if test="userId!=null and userId>0">
				and eq.exqu_create_userid = #{userId}
			</if>
			<if test="questiontype!=null and questiontype>0">
				and	<![CDATA[eq.exqu_type = #{questiontype}]]>
			</if>
			<if test="difficulty!=null">
				and eq.exqu_difficulty = #{difficulty}
			</if>
		</trim>
	</select>

	<!-- 查询自动组卷参数gppaNames字段 by yangzq -->
	<select id="queryGppaIds" parameterType="String" resultType="java.lang.Integer">
	<![CDATA[
		SELECT
			gpp.gppa_id
		FROM
			GroupPaperParameter gpp,
			ExamPaper ep
		WHERE
			gpp.gppa_id = ep.expa_gppa_id
		AND ep.expa_id IN 
	]]>
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>


	<!-- 创建新的考试试卷返回考试id by yangzq -->
	<insert id="insertNewPaper" parameterType="com.swust.kelab.model.ExamPaperModel"
		useGeneratedKeys="true" keyProperty="expaId">
	<![CDATA[
		INSERT INTO
			ExamPaper (
			expa_cour_id,
			expa_ordinal,
			expa_difficulty,
			expa_totalscore,
			expa_name,
			expa_describe,
			expa_createtime,
			expa_create_userid,
			expa_type,
			expa_gppa_id
		)
		values (
			#{expaCourId},
			#{expaOrdinal},
			#{expaDifficulty},
			#{expaTotalscore},
			#{expaName},
			#{expaDescribe},
			#{expaCreatetime},
			#{expaCreateUserid},
			#{expaType},
			#{expaGppaId}
		)
	]]>
	</insert>

	<!-- 手动组卷保存试卷相关联信息 by yangzq -->
	<insert id="insertNewGroupPaper" parameterType="com.swust.kelab.domain.ReGroupPaper">
	<![CDATA[
		INSERT INTO
			Re_GroupPaper (
			rgpa_expa_id,
			rgpa_exqu_id,
			rgpa_ordinal,
			rgpa_score
		)
		values (
			#{rgpaExpaId},
			#{rgpaExquId},
			#{rgpaOrdinal},
			#{rgpaScore}
		)
	]]>
	</insert>

	<!-- 自动组卷创建组卷参数表,返回参数表主键 by yangzq -->
	<insert id="saveGpPaParameter" parameterType="com.swust.kelab.domain.GroupPaperParameter"
		useGeneratedKeys="true" keyProperty="gppaId">
	<![CDATA[
	INSERT INTO
		GroupPaperParameter (
			gppa_questionType,
			gppa_difficulty,
			gppa_questionScore,
			gppa_questionNum,
			gppa_name,
			gppa_createTime,
			gppa_creatorId,
			gppa_ordinal
		)
		values (
			#{gppaQuestiontype},
			#{gppaDifficulty},
			#{gppaQuestionscore},
			#{gppaQuestionnum},
			#{gppaName},
			#{gppaCreatetime},
			#{gppaCreatorid},
			#{gppaOrdinal}
		)
	]]>
	</insert>

	<!-- 删除试卷对应的组卷信息 by yangzq -->
	<delete id="delReGroupPaper" parameterType="String">
		<![CDATA[
			DELETE FROM
				Re_GroupPaper
			WHERE
				rgpa_expa_id in 
		]]>
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<!-- 删除试卷 by yangzq -->
	<delete id="delPapers" parameterType="String">
		<![CDATA[
			DELETE FROM
				ExamPaper
			WHERE
				expa_id in 
		]]>
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<!-- 删除自动组卷产生的参数表 by yangzq -->
	<delete id="delGroupPaperParameter" parameterType="list">
		<![CDATA[
			DELETE FROM
				GroupPaperParameter
			WHERE
				gppa_id in
		]]>
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<!-- 查询试卷对于的考试信息id by htx -->
	<select id="queryExamIdsByPaper" parameterType="String"
		resultType="java.lang.Integer">
	<![CDATA[
		SELECT
			ei.exin_id
		FROM
			ExamInformation ei,
			ExamPaper ep
		WHERE
			ei.exin_expa_id = ep.expa_id
		AND ep.expa_id IN 
	]]>
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>

	<!-- 查询考试对应的测试id by htx -->
	<select id="queryreTestIdsByExam" parameterType="list"
		resultType="java.lang.Integer">
	<![CDATA[
		SELECT
			re.rate_id
		FROM
			Re_AutoTest re,
			ExamInformation ei
		WHERE
			ei.exin_id = re.rate_exin_id
			AND ei.exin_id IN
	]]>
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>

</mapper>