<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="question">
	<!-- 试题管理mapper -->
	<!-- 查询考试数据的map by yangzq -->
	<resultMap id="quesDetailMap" type="com.swust.kelab.model.ExamQuestionModel">
		<id property="exquId" column="exqu_id" />
		<result property="courName" column="cour_name"/>
		<result property="courId" column="cour_id"/>
		<result property="exDescribe" column="exqu_describe" />
		<result property="exType" column="exqu_type" />
		<result property="correctAnswer" column="exqu_correctanswer" />
		<result property="creatTime" column="exqu_createtime"/>
		<result property="exDifficulty" column="exqu_difficulty" />
		<result property="attachment" column="exqu_attachment" />
		<association property="options" column="exqu_id" select="selectQuesOptions"/>
	</resultMap>
	
	<resultMap id="quesOptionsMap" type="com.swust.kelab.domain.Option">
			<id property="optiId" column="opti_id" />
			<result property="optiQuesId" column="opti_ques_id" />
			<result property="optiDescribe" column="opti_describe" />
			<result property="optiOrdinal" column="opti_ordinal" />
			<result property="optiAttachment" column="opti_attachment" />
	</resultMap>
	
	<!-- 编辑根据试题id获取试题信息 -->
	<resultMap id="oneQuesDetailMap" type="com.swust.kelab.model.ExamQuestionModel">
		<id property="exquId" column="exqu_id" />
		<result property="courName" column="cour_name"/>
		<result property="courId" column="cour_id"/>
		<result property="exDescribe" column="exqu_describe" />
		<result property="exType" column="exqu_type" />
		<result property="correctAnswer" column="exqu_correctanswer" />
		<result property="creatTime" column="exqu_createtime"/>
		<result property="exDifficulty" column="exqu_difficulty" />
		<result property="attachment" column="exqu_attachment" />
		<collection property="options" ofType="com.swust.kelab.domain.Option">
			<id property="optiId" column="opti_id" />
			<result property="optiQuesId" column="opti_ques_id" />
			<result property="optiDescribe" column="opti_describe" />
			<result property="optiOrdinal" column="opti_ordinal" />
			<result property="optiAttachment" column="opti_attachment" />
		</collection>
	</resultMap>
	<!-- 查询试题数 by yangzq -->
	<select id="selectQuesCount" parameterType="java.util.HashMap"
		resultType="java.lang.Integer">
		<![CDATA[	
		SELECT 
			COUNT(eq.exqu_id) 
		FROM ExamQuestion eq
			LEFT OUTER JOIN  Course cs ON eq.exqu_cour_id = cs.cour_id
			LEFT OUTER JOIN User us ON us.user_id = eq.exqu_create_userid
		]]>
		<trim prefix="where" prefixOverrides="and|or">
			<if test="departId != null and departId > 0">
				us.user_depa_id = #{departId}
			</if>
			<if test="teacherId != null and teacherId != ''">
				and cs.cour_teacher_ids like CONCAT('%','${teacherId}','%')
			</if>
			<if test="quCourse>0">
				and cs.cour_id=#{quCourse}
			</if>
			<if test="quType!=null and quType>0">
				and eq.exqu_type=#{quType}
			</if>
			<if test="startTime != null and startTime != ''">
				and eq.exqu_createtime>=#{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
				<![CDATA[
				and eq.exqu_createtime<=#{endTime}
				]]>
			</if>
			<if test="searchWord!=null">
				and eq.exqu_describe like CONCAT('%','${searchWord}','%' )
			</if>
		</trim>
	</select>
	
	
	<!-- 查询试题详细信息 by yangzq -->
	<select id="selectQuesDetail" parameterType="java.util.HashMap"
		resultMap="quesDetailMap">
	 <![CDATA[	
		SELECT 
			cs.cour_name,
			cs.cour_id,
			eq.exqu_id,
			eq.exqu_describe,
			eq.exqu_type,
			eq.exqu_correctanswer,
			eq.exqu_createtime,
			eq.exqu_difficulty,
			eq.exqu_attachment
		FROM ExamQuestion eq
			LEFT OUTER JOIN  Course cs ON eq.exqu_cour_id = cs.cour_id
			LEFT OUTER JOIN User us ON us.user_id = eq.exqu_create_userid
		]]>
		<trim prefix="where" prefixOverrides="and|or">
			<if test="departId != null and departId > 0">
				us.user_depa_id = #{departId}
			</if>
			<if test="teacherId != null and teacherId != ''">
				and cs.cour_teacher_ids like CONCAT('%','${teacherId}','%')
			</if>
			<if test="quCourse>0">
				and cs.cour_id=#{quCourse}
			</if>
			<if test="quType!=null and quType>0">
				and eq.exqu_type=#{quType}
			</if>
			<if test="startTime != null and startTime != ''">
				and eq.exqu_createtime>=#{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
				<![CDATA[
				and eq.exqu_createtime<=#{endTime}
				]]>
			</if>
			<if test="searchWord!=null">
				and eq.exqu_describe like CONCAT('%','${searchWord}','%' )
			</if>
		</trim>
		<![CDATA[
			GROUP BY eq.exqu_id
			ORDER BY eq.exqu_createtime DESC
		]]>
		<if test="maxCount!=null">
			limit
			<if test="startIndex!=null">
				#{startIndex},
			</if>
			#{maxCount}
		</if>
	</select>
	
	<!-- 编辑根据试题id获取试题信息   by yangzq -->
	<select id="selectOneQuestion" parameterType="java.lang.Integer"
		resultMap="oneQuesDetailMap">
	 <![CDATA[	
		SELECT 
			cs.cour_name,
			cs.cour_id,
			eq.exqu_id,
			eq.exqu_describe,
			eq.exqu_type,
			eq.exqu_correctanswer,
			eq.exqu_createtime,
			eq.exqu_difficulty,
			eq.exqu_attachment,
			op.opti_id,
			op.opti_ques_id,
			op.opti_describe,
			op.opti_ordinal,
			op.opti_attachment
		FROM ExamQuestion eq
			LEFT OUTER JOIN  Course cs ON eq.exqu_cour_id = cs.cour_id
			LEFT OUTER JOIN `Option` op ON op.opti_ques_id = eq.exqu_id
		WHERE 
			eq.exqu_id = #{quesId}
		]]>
	</select>
	
	<!-- 查询问题对应的选项 -->
	<select id="selectQuesOptions" parameterType="INTEGER" resultMap="quesOptionsMap">
	<![CDATA[
		SELECT	
			op.opti_id,
			op.opti_ques_id,
			op.opti_describe,
			op.opti_ordinal,
			op.opti_attachment
		FROM
			`Option` op
		WHERE 
			op.opti_ques_id=#{exqu_id}
	]]>
	</select>
	
	<select id="selectedInfos" parameterType="String" resultMap="quesDetailMap">
		<![CDATA[	
		SELECT 
			cs.cour_name,
			cs.cour_id,
			eq.exqu_id,
			eq.exqu_describe,
			eq.exqu_type,
			eq.exqu_correctanswer,
			eq.exqu_createtime,
			eq.exqu_difficulty,
			eq.exqu_attachment
		FROM ExamQuestion eq
			LEFT OUTER JOIN  Course cs ON eq.exqu_cour_id = cs.cour_id
		WHERE
			eq.exqu_id IN 
		]]>
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>

	<!-- 新增试题并返回主键问题id by yangzq -->
	<insert id="saveNewQuestion" parameterType="com.swust.kelab.domain.ExamQuestion"
		useGeneratedKeys="true" keyProperty="exquId">
	<![CDATA[
		INSERT INTO
			ExamQuestion (
			exqu_cour_id,
			exqu_describe,
			exqu_type,
			exqu_correctanswer,
			exqu_createtime,
			exqu_create_userid,
			exqu_difficulty,
			exqu_attachment
		)
		values (
			#{exquCourId,jdbcType=INTEGER},
			#{exquDescribe,jdbcType=VARCHAR},
			#{exquType,jdbcType=INTEGER},
			#{exquCorrectanswer,jdbcType=VARCHAR},
			#{exquCreatetime,jdbcType=TIMESTAMP},
			#{exquCreateUserid,jdbcType=VARCHAR},
			#{exquDifficulty,jdbcType=INTEGER},
			#{exquAttachment,jdbcType=BIT}
		)
	]]>
	</insert>

	<!-- 新增试题对应的选项 by yangzq  -->
	<insert id="saveOption" parameterType="com.swust.kelab.domain.Option"
		useGeneratedKeys="true" keyProperty="optiId">
	<![CDATA[
		INSERT INTO
			`Option` (
			opti_ques_id,
			opti_describe,
			opti_ordinal,
			opti_attachment
		)
		values (
			#{optiQuesId,jdbcType=INTEGER},
			#{optiDescribe,jdbcType=VARCHAR},
			#{optiOrdinal,jdbcType=INTEGER},
			#{optiAttachment,jdbcType=BIT}
		)
	]]>
	</insert>

	<!-- 更新试题部分数据 by yangzq -->
	<update id="updateQuestion" parameterType="com.swust.kelab.domain.ExamQuestion">
	<![CDATA[
		UPDATE
			ExamQuestion
		SET
			exqu_describe = #{exquDescribe},
			exqu_type = #{exquType},
			exqu_correctanswer = #{exquCorrectanswer},
			exqu_difficulty = #{exquDifficulty},
			exqu_attachment = #{exquAttachment}
		WHERE
			exqu_id = #{exquId}
	]]>
	</update>


	<!-- 删除试题选项 by yangzq -->
	<delete id="delOptions" parameterType="String">
	<![CDATA[
		DELETE FROM
			`Option`
		WHERE
			opti_ques_id in 
	]]>
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<!-- 删除试题选项 by yangzq -->
	<delete id="delQuestion" parameterType="String">
	<![CDATA[
		DELETE FROM
			ExamQuestion
		WHERE
			exqu_id in 
	]]>
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
</mapper>