<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="domain.student">
	<select id="info" parameterType="int"
		resultType="com.swust.kelab.model.StudentInfoModel">
		<![CDATA[
			SELECT 
				u.user_realname as userRealname,
				u.user_loginname as userLoginname,
				u.user_gender as userGender,
				u.user_year_of_entrance as userYearOfEntrance,
				c.clas_name as className,
				u.user_cadas_exam_num as userCadasExamNum,
				u.user_id_num as userIdNum,
				u.user_email as userEmail,
				u.user_phone_num as userPhoneNum,
				u.user_address as userAddress,
				u.user_remark as userRemark
			FROM User u
				left outer join Class c on c.clas_id = u.user_clas_id
			where u.user_id = #{id}
	]]>
	</select>
</mapper>