<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--系统参数模块Mapper by lixw -->
<mapper namespace="systemParameter">
  <!--查询所有系统参数 by lixw  -->
	<select id="selectAllSypa" parameterType="int"
		resultType="com.swust.kelab.domain.SystemParameter">
		<![CDATA[
		SELECT
		   sypa.sypa_id  as sypaId,
		   sypa.sypa_name as sypaName,
		   sypa.sypa_value as sypaValue,
		   sypa.sypa_type as sypaType,
		   sypa.sypa_en_name as sypaEnName,
		   sypa.sypa_remark as sypaRemark
		 FROM SystemParameter sypa
	]]>
		<where>
			<if test="_parameter>0">
				sypa.sypa_type=#{_parameter}
			</if>
		</where>
		order by sypa.sypa_order
	</select>

    <!-- 修改系统参数 by lixw -->
	<update id="updateSypa" parameterType="com.swust.kelab.model.SystemParameterModel">
	<![CDATA[
		UPDATE
		   SystemParameter sypa
		SET
		   sypa.sypa_value = #{sypaValue}
		WHERE
		   sypa.sypa_id = #{sypaId}
	]]>
	</update>
	
	<!-- 修改友情链接  by lixw -->
	<update id="updateLink" parameterType="com.swust.kelab.domain.SystemParameter">
	<![CDATA[
		UPDATE
		   SystemParameter sypa
		SET
		   sypa.sypa_value = #{sypaValue},
		   sypa.sypa_name = #{sypaName},
		   sypa.sypa_remark=#{sypaRemark}
		WHERE
		   sypa.sypa_id = #{sypaId}
	]]>
	</update>
	
	<!-- 删除友情链接 by lixw -->
	<delete id="deleteLink" parameterType="int">
	<![CDATA[
		 DELETE  FROM
		    SystemParameter
		 WHERE
		     sypa_id=#{linkId}
	]]>
	 
	</delete>
	
	<!-- 添加友情链接 by lixw -->
	<insert id="insertLink" parameterType="com.swust.kelab.domain.SystemParameter">
	   INSERT INTO
		   SystemParameter(
		      sypa_name,
		      sypa_value,
		      sypa_remark,
		      sypa_Type,
		      sypa_en_name
		   )
		VALUES(
		       #{sypaName},
		       #{sypaValue},
		       #{sypaRemark},
		       #{sypaType},
		       "link"
		     )
	</insert>
	
	<!-- 获取对应英文名称的参数值 -->
	<select id="selectOneByEnName" parameterType="string" 
			resultType="SystemParameter">
		select 
			sypa_id as sypaId,
			sypa_name as sypaName,
			sypa_value as sypaValue
		from
			SystemParameter
		where
			sypa_en_name = #{_parameter}
		limit 1
	</select>
	
</mapper>