@charset "utf-8";

/*--------------------------------
      FOOTER CONTENT STYLES
---------------------------------*/

footer {
    background: #fff;
    padding: 15px;
    color: #7A7676;
    font-size: 12px;
    position: fixed;
    bottom: 0;
   /*  width: 100%; */
   left: 240px;
   right: 0;
    border-top: 1px solid #eff0f4;
}

footer.sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

.container footer {
    width: 79.5%;
    position: absolute;
    bottom: 0;
}